<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Post</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:Thin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:Light&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='css/edit.css'>
    <link rel="shortcut icon" href="/img/ico/favicon.png" type="image/x-icon"/>
    <script src='script/edit.js'></script>
</head>
<body>
    <div class="wrapper">
        <div class="magic_wand">
            <img src="img/ico/magic_wand.png" class="ico_magic_wand">
        </div>
        <div class="picture_preview">
            <img src="<?php echo $original_picture; ?>">
        </div>

        <div class="filter_list">
            <div class="filter-wrap">
                <p class="filtername">
                    original
                </p>
                <div class="filter">
                    <img src="<?php echo $original_picture; ?>">
                </div>
            </div>
            <?php

            foreach ($filter_names as $filters) {
                $path = 'img/' . $filters . '.jpg';
                echo "<div class='filter-wrap'>
                    <p class='filtername'>$filters</p>
                    <div class=\"filter\"><img src=\"$path\"></div>
                    </div>";
            }

            ?>

 
        </div>

    </div>
</body>
</html>