<html>
<head>
	<title>Instagram</title>
    <linkhref="https://fonts.googleapis.com/css?family=Source+Sans+Pro"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:Thin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:Light&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/feed.css'>
    <link rel="shortcut icon" href="/img/ico/favicon.png" type="image/x-icon"/>
</head>
<body>
    <div class="modal1 js-alert" style="display: none">
        <div class="message_info_temp js-modal-stop">
            error message
        </div>
    </div>
  <div class="wrapper">
    
    <div class="header_test">
      <div class="logo_title">
        Logo | Pic One
      </div>
      <div class="logo_nav_bar">
        <img class="take_me_to_editing" src="img/ico/camera.png">
      </div>
      <div class="logo_nav_bar">
        <img class="take_me_to_gallery" src="img/ico/compass.png">
      </div>
      <div class="logo_nav_bar">
          <img src="img/ico/heart.png">
      </div>
      <div class="logo_nav_bar">
          <img class='js_takeMeToMe' src="img/ico/user.png">
      </div>
      <div class="logo_nav_bar">
          <img class='js_takeMeToConnect' src="img/ico/cross.png">
      </div>
    </div>
    <hr class="separate_nav">
    <div class="bio_part">
      <div class="profile_pic_pic_part">
        <div class="ugly_fix">
            <img class="js_profile_pic" src="img/profile_pic_jo.jpg">
        </div>
      </div>
      <div class="bio_part_text">
        <div class="pseudo_bio">
          <a class="js_pseudo mouse_cursor_reset"><?php echo ($pseudo); ?></a>
        </div>
        <div class="modif_bouton">
            <button class="bouton_style">S'ABONNER</button>
          </div>
          
        <div class="bio">
          <p class="js_bio">
            Salut ! <br>
            C'est moi Josephine 😘😘<br>
            Ici tu trouveras des photos d'architecture et deux trois selfie avec mon mec,
            Enjoy 👌
          </p>
        </div>
      </div>
    </div>
    <hr class="separate_nav">
    <div class="profile_stat">
      <div class="profile_stat_content">
          <div class="js_publications"></div>
        <p>
          publications
        </p>
      </div>
      <div class="profile_stat_content">
        <div class="js_abonnes"></div>
        <p>
          abonnés
        </p>
      </div>
      <div class="profile_stat_content">
          <div class="js_abonnements"></div>
        <p>
          abonnements
        </p>
      </div>
    </div>
    <hr class="separate_nav">
    














  <section class="post-list">
    <div>

    </div>
    <div class="contain-loader">
      <div class="nb-spinner">
    
      </div>
    </div>
    <div>

    </div>
    <img class="toggle_for_post_display"src="img/ico/to_have_grey.png"/>
  </section>
</div>
<script src="script/feed.js"></script>
</body>
</html>