<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>modal test</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/modal.css'>
</head>
<body>

    <a href="#modal1" class="js_modal">Ouvrir modale</a>

    <aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="titlemodal" aria-modal="false" style="display: none">
        <div class="modal-wrapper">
                <h1 id="titlemodal">I could if you hadn't turned on the light and shut off my stereo.</h1>
                <p>You, minion. Lift my arm. AFTER HIM! You are the last hope of the universe. Your best is an idiot! You are the last
                    hope of the universe. I saw you with those two "ladies of the evening" at Elzars. Explain that.</p>
                <p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! We're rescuing ya. Shut
                    up and take my money! <strong> Wow!</strong> <em> A superpowers drug you can just rub onto your skin?</em> You'd
                    think it would be something you'd have to freebase.</p>
                <h2>Why would a robot need to drink?</h2>
                <p>Say what? Morbo will now introduce tonight's candidates… PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's
                    good friend, Richard Nixon. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor.</p>
                <ol>
                
                    <li>And then the battle's not so bad?</li>
                    <li>Is that a cooking show?</li>
                    <li>Fry! Quit doing the right thing, you jerk!</li>
                
                </ol>
                
                <h3>What are their names?</h3>
                <p>Hey! I'm a porno-dealing monster, what do I care what you think? For example, if you killed your grandfather, you'd
                    cease to exist! File not found. You won't have time for sleeping, soldier, not with all the bed making you'll be
                    doing.</p>
                <ul>
                
                    <li>Can we have Bender Burgers again?</li>
                    <li>I had more, but you go ahead.</li>
                    <li>You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!</li>
                
                </ul>
                
                <p>Daddy Bender, we're hungry. I just told you! You've killed me! Wow! A superpowers drug you can just rub onto your
                    skin? You'd think it would be something you'd have to freebase. Professor, make a woman out of me.</p>
                <p>Quite possible. We live long and are celebrated poopers. That could be 'my' beautiful soul sitting naked on a couch.
                    If I could just learn to play this stupid thing. How much did you make me? We can't compete with Mom! Her company is
                    big and evil! Ours is small and neutral!</p>
                <p>And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The
                    toilet. We'll go deliver this crate like professionals, and then we'll go home. Kif might!</p>
                <p>You can see how I lived before I met you. Soon enough. We can't compete with Mom! Her company is big and evil! Ours
                    is small and neutral! Tell her you just want to talk. It has nothing to do with mating.</p>
                <p>Goodbye, friends. I never thought I'd die like this. But I always really hoped. Leela, are you alright? You got
                    wanged on the head. We'll go deliver this crate like professionals, and then we'll go home.</p>
                </div>
    </aside>
    <script src='script/modal.js'></script>
</body>
</html>