<!-- <aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="titlemodal" aria-modal="false"
      style="display: none"> -->

      <link rel='stylesheet' type='text/css' media='screen' href='/css/feed.css'>
      <div class="modal-wrapper">
        <div class="transparent-grey">
          <img class="cross_ico" src="/img/ico/cross2.png" />
          <div class="post_section">
            <!-- <div class="temporary">
              <div class="cubes">
                  <div class="sk-cube sk-cube1"></div>
                  <div class="sk-cube sk-cube2"></div>
                  <div class="sk-cube sk-cube3"></div>
                  <div class="sk-cube sk-cube4"></div>
                  <div class="sk-cube sk-cube5"></div>
                  <div class="sk-cube sk-cube6"></div>
                  <div class="sk-cube sk-cube7"></div>
                  <div class="sk-cube sk-cube8"></div>
                  <div class="sk-cube sk-cube9"></div>
                 </div>
                </div> -->
            <div class="media_post_section">
              <img class="post_image" src="img/cool_pic2.jpg" />
            </div>
            <div class="comment_post_section ArchivoFont">
              <div class="media_owner">
                <div class="container_mini_profile_pic">
                  <img class="mini_profile_pic" src="img/profile_pic_jo.jpg" />
                </div>
                <div class="pseudo_profile RailewayFont">
                  <a href="">JoJo</a>
                </div>
                <div class="lien_abonnement"> • <a href="">S'abonner</a> </div>
              </div>
              <hr class="separate_comment">
              <div class="comment_section">
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_vi.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">Vi</a>
                      T'es belle.
                    </p>
                    <div class="stat_comment">
                      <p>
                        1 j
                      </p>
                      <p>
                        1 mention j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_100" src="img/ico/heart.png" />
                  </div>
                </div>
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_vi.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">Vi</a>
                      T'es belle. ❤😍😍
                    </p>
                    <div class="stat_comment">
                      <p>
                        1 j
                      </p>
                      <p>
                        1 mention j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_101" src="img/ico/heart.png" />
                  </div>
                </div>
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_vi.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">Vi</a>
                      Je t'aime
                    </p>
                    <div class="stat_comment">
                      <p>
                        1 j
                      </p>
                      <p>
                        1 mention j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_102" src="img/ico/heart.png" />
                  </div>
                </div>
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_jo.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">JoJo</a>
                      Heu... Virgile...
                    </p>
                    <div class="stat_comment">
                      <p>
                        4 h
                      </p>
                      <p>
                        50 mentions j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_103" src="img/ico/heart.png" />
                  </div>
                </div>
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_vi.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">Vi</a>
                      Quoi ?
                    </p>
                    <div class="stat_comment">
                      <p>
                        4 h
                      </p>
                      <p>
                        100 mentions j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_104" src="img/ico/heart.png" />
                  </div>
                </div>
                <div class="comment">
                  <div class="container_mini_profile_pic_float">
                    <img class="mini_profile_pic" src="img/profile_pic_jo.jpg" />
                  </div>
                  <div class="comment_content">
                    <p>
                      <a href="">JoJo</a>
                      🤦‍
                    </p>
                    <div class="stat_comment">
                      <p>
                        1 h
                      </p>
                      <p>
                        1000 mentions j'aime
                      </p>
                    </div>
                  </div>
                  <div class="comment_button">
                    <img class="heart comment_id_105" src="img/ico/heart.png" />
                  </div>
                </div>
              </div>
              <hr class="separate_comment">
              <div class="post_stat_section">
                <img class="ico_post" src="img/ico/heart.png" />
                <img class="ico_post" src="img/ico/comment.png" />
                <img class="ico_post" src="img/ico/link.png" />
                <p class="nb_of_like">
                  150 J'aime
                </p>
                <p class="date_of_post">
                  12 juillet 2019
                </p>
              </div>
              <hr class="separate_comment">
              <div class="">
                <form class="new_comment_container" action="" method="POST">
                  <div class="textarea_publier_commentaire">
                    <textarea name="publier_commentaire" class="textarea_form_publier_commentaire"
                      placeholder="Ajouter un commentaire..."></textarea>
                  </div>
                  <div class="bouton_ou_truc_pour_poster_le_commentaire">
                    <button class="bouton_style">Publier</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </aside> -->